@font-face {
    font-family: 'Baron Neue';
    src: url('fonts/baron_neue_regular.woff2') format('woff2'),
         url('fonts/baron_neue_regular.woff') format('woff');
    /* Add more font-weight and font-style variations if available */
    font-weight: normal;
    font-style: italic;
}

body {
    background-image: url('/images/whitesmoke_forest.jpg');
            background-size: cover;
    font-family: 'Baron Neue', Arial, sans-serif;
    font-weight: 200;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0;
}



.left-container {
    flex: 1;
    padding:50px ;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
}

.right-container {
    flex: 1;
    padding-right: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 22px; /*font size for Img Alt */
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    h1, p {
    display: inline; /* Display both h1 and p tags inline */
    margin: 0;
}
}